html {
  height: 100%;
  width: 100%;
}

body {
  border: none;
  padding: none;
  background-image: url("imagens/fundoCadastro.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  text-align: center;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  background-color: #F8F8F8;
  transition: 1s;
  border: 5px solid #e3e3e3;
}

.login h2 {
  font-size: 50px;
  font-weight: bold;
}

.login input[type="submit"]:hover,
.login button:hover {
  color: #ffffff;
  text-shadow: -1px -1px 0px #000000;
  letter-spacing: 0.1em;
}

.login input[type="submit"],
.login button {
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 2px;
  width: 80px;
  height: 25px;
  margin-left: 25px;
}

.login input[type="submit"] {
  background-color: #2dab18;
}

.login button {
  background-color: #0cc0df;
}

.login input[type="email"],
.login input[type="password"] {
  border-radius: 20px;
}

.mensagem {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .login {
    width: 200px;
    height: 450px;
  }

  .login h2 {
    font-size: 20px;
  }

  .login input[type="submit"],
  .login button {
    margin-left: 5px;
  }

  .mensagem {
    font-size: 8px;
  }
}